body{
    margin:0px;
    padding:0px;
}
.top{
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    height: 35px;
}
.topLeft, .topRight{
    display: flex;
    width:40%;
}
.topRight{
    justify-content: right;
}
.kobeImg{
    margin:0px;
    padding: 0px;
    height:25px;
}
.backNav{
    list-style: none;
    display: flex;
    flex-direction: row;

}
.backNavItems{

    font-size: 12px;
    font-family:Helvetica;
    font-weight:bold;
    line-height: 18px;
    margin: 0px;
    padding:10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.backNavItemsBorder{
    border-color: black;
    border-left: solid;
    border-width: 1px;

}
.navBar{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
}
.mainLogo{

    height:45px;
}
.navBarItems{
    display: flex;
    padding:12px;
    font-size: 16px;
    font-family:Helvetica;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
}

.navBarLeft, .navBarMiddle, .navBarRight{
    width: auto;
    display: flex;
    align-items: center;
}
.navBarRight{
    font-size: 16px;
}
.topAd{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #F5F5F5;
    text-align: center;
    border-bottom: solid;
    border-width: 1px;
    border-color:#CECECE ;
}
.heroPic{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    height:30em;
}