body{
    margin:0px;
    padding:0px;
}
.top{
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    height: 35px;
}
.topLeft, .topRight{
    display: flex;
    width:40%;
}
.topRight{
    justify-content: right;
}
.kobeImg{
    margin:0px;
    padding: 0px;
    height:25px;
}
.backNav{
    list-style: none;
    display: flex;
    flex-direction: row;

}
.backNavItems{

    font-size: 12px;
    font-family:Helvetica;
    font-weight:bold;
    line-height: 18px;
    margin: 0px;
    padding:10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.backNavItemsBorder{
    border-color: black;
    border-left: solid;
    border-width: 1px;

}
.navBar{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
}
.mainLogo{

    height:45px;
}
.navBarItems{
    display: flex;
    padding:12px;
    font-size: 16px;
    font-family:Helvetica;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
}

.navBarLeft, .navBarMiddle, .navBarRight{
    width: auto;
    display: flex;
    align-items: center;
}
.navBarRight{
    font-size: 16px;
}
.topAd{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #F5F5F5;
    text-align: center;
    border-bottom: solid;
    border-width: 1px;
    border-color:#CECECE ;
}
.heroPic{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    height:30em;
}
.tagline1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.kobe1{
    font-size: 16px;
    font-family:Helvetica;
    padding: 0px;
    margin-bottom: 0px;
}
.tagline1Main{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family:fantasy;
    font-size: 70px;
}
.kobeSlogan{
    font-size: 16px;
    font-family:Helvetica;
    font-weight:500;
}
.buttons1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button1Items{
    margin:5px;
    border-radius: 25px;
    display: flex;
    width:70px;
    height:40px;
    background-color: black;
    align-items: center;
    color:white;
    font-weight: bold;
    justify-content: center;
}
.featuredHeading{
    display:flex;
    margin-left: 48px;
    margin-top: 130px;
    font-family: helvetica;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 300;
}
.featured,.dontForget{
    display: flex;
    justify-content:space-around;
    margin-left:30px;
    margin-right: 30px;
    
}
.featuredItems, .dontForgetItems{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 33.33%;
    margin:10px;
    padding: 0px;
}
.images{
    height: 450px;
}
.featuredItemsText{
    margin-top: 30px;
    font-family: helvetica;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 30px;
}
.shopButton{
    font-family: helvetica;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 16px;
    font-weight: 500;
    width: 40px;
    border-bottom: solid;
    border-width: 3px;

}
.dontForgetItems{
    width: auto;
}
.dontForgetImage{
    height: 30em;
}